@import "nullstyle.scss";





.ghost{
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 90px;
    border-radius: 70px 70px 0px 0px;
    background-color: yellow;
    animation: float 4s linear infinite;
}
@keyframes float{
    50%{transform: translateY(10px);}
}
.ghost .face {
    width: 60px;
    position: absolute;
    top: 30px;
    left: calc(50% - 30px);
    z-index: 3;
}
.ghost .eyes {
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 9px;
}
.ghost .eyes span{
 width: 12px;
 height: 6px;
 background: black;
 border-radius: 4px 4px 13px 13px;
 transition: .5s;
}
.ghost:hover .eyes span{
    height: 12px;
    border-radius: 50%;
}
.ghost .mouth {
display: flex;
justify-content: space-around;
}
.ghost .mouth span{
width: 20px;
height: 5px;
background: black;
border-radius: 0 0 10px 10px;
transition: .5s;
}
.ghost:hover .mouth span{
    height: 10px;

    }
.ghost .hands{
width: 110px;
position: absolute;
left: -15px;
top: 45px;
display: flex;
justify-content: space-between;
    }
.ghost .hands .blue{
width: 15px;
height: 15px;
background-color: yellow;
animation: shake 4s linear infinite;
    }
    @keyframes shake{
        50%{transform: translateY(5px);}
        
    }
    
.ghost .hands span:first-child{
border-radius: 12px 0 0 20px;

    }
.ghost .hands span:last-child{
border-radius: 0 12px 20px 0;
animation-delay: 2s;
    }
    
    .ghost .feet{
        width: 100%;
        display: flex;
        position: absolute;
        bottom: -20px;
        z-index: 1;

                    }
    .ghost .feet .blue{
        flex: 1;
        height: 22px;
        background-color: yellow;
        border-radius: 0 0 20px 20px;

                    }
                    
    .ghost .feet span:first-child{
        border-radius: 0 0 12px 20px;

        
    }
                    
    .ghost .feet span:last-child{
        border-radius: 0 0 20px 12px;

        
    }
                    

